@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

code {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hidden {
  visibility: hidden;
}

.full-height-content {
  display: flex;
  height: 100vh;
  width: 100%;
}

.full-height-content > .center-content > h1 {
  border-bottom: 1px solid;
  margin-bottom: 1em;
}

.center-content {
  align-items: center;
  align-content: center;
  margin: auto;
}


/* custom setting for each id or tag/class */
img#title-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit:cover;
  z-index: 1;
}

#index-title {
  position: relative;
  align-content: center;
  margin: auto;
  width: max-content;
  z-index: 2;
}

h1#title-console {
  font-family: "Google Sans Code", monospace;
  text-align: center;
  border-bottom: 0px;
}

h1#title-response {
  margin-top: 0.4em;
  margin-left: 0.2em;
  color: #c0c0c0;
}

div#index-content {
  height: 500px;
}

.title-fadein {
  animation: normal titleFadeiIn 1s;
}

#index-list {
  font-size: 2em;
  margin-top: 0.5em;
  margin-left: 1.5em;
  list-style-type: circle;
}

#index-list > li {
  margin: 0;
  margin-top: 0.3em;
  width: max-content;
}

#index-list > li > a {
  color: white;
  text-decoration: none;
}

#index-list > li > a:hover {
  border-bottom: 1px #c0c0c0 solid;
}

#readme-container {
  background-color: #efefff;
  color: #111;
}

#readme > h1 {
  font-size: 2.5em;
}
#readme > p {
  font-size: 1.25em;
}

#lifelog-container {
  background-color: #dbe8fa;
  color: #333;
}

#product-container {
  background-color: #f0e2c8;
  color: #333;
}

#interest-container {
  background-color: #afe0d9;
  color: #333;
}

/* #comment-container {
  background-color: #fff;
  color: #333;
} */

@keyframes titleFadeiIn {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}